# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# PyCharm project files
.idea/

# VS Code settings
.vscode/

# Virtual environments
env/
venv/

# System files
.DS_Store
Thumbs.db
